{% extends "base.html" %}
{% load i18n %}
{% block content %}
<main class="mx-[11%] p-4 mt-6">
      <h1 class="text-2xl font-bold">{% translate "Statuses" %}</h1>
      <form action="{% url 'status_create' %}" method="POST">
          {% csrf_token %}
          <button class="inline-block px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-normal text-medium rounded-lg transition-colors text-center" type="submit">{% translate "Create status" %}</button>
      </form>
      <div class="pt-6 overflow-x-auto w-full">
        <table class="divide-y divide-gray-300 w-full whitespace-nowrap">
            <thead>
                <tr>
                    <th class="h-9 align-top pt-2 px-4">ID</th>
                    <th class="h-9 align-top pt-2 px-4">{% translate "Title" %}</th>
                    <th class="h-9 align-top pt-2 px-4">{% translate "Created at" %}</th>
                    <th class="h-9 align-top pt-2 px-4"> </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-300">
                {% for status in statuses %}
                <tr class="text-center bg-gray-50 even:bg-white align-top h-20" >
                    <td class="py-2">{{ status.id }}</td>
                    <td class="py-2">{{ status.title }}</td>
                    <td class="py-2">{{ user.created_at }}</td>
                    <td class="py-2"><a class="text-blue-600 hover:opacity-70 transition-colors" href="{% url 'status_update' status.id %}">{% translate "Change" %}</a><br><a class="text-blue-600 hover:opacity-70 transition-colors" href="{% url 'status_delete' status.id %}">{% translate "Delete" %}</a>
                </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </main>
  {% endblock %}