{% extends "base.html" %}
{% load i18n %}
{% block content %}
<main class="mx-[11%] p-4 mt-6">
      <h1 class="text-2xl font-bold">{% translate "Users" %}</h1>
      <div class="pt-6 overflow-x-auto w-full">
        <table class="divide-y divide-gray-300 w-full whitespace-nowrap">
            <thead>
                <tr>
                    <th class="h-9 align-top pt-2 px-4">ID</th>
                    <th class="h-9 align-top pt-2 px-4">{% translate "Username" %}</th>
                    <th class="h-9 align-top pt-2 px-4">{% translate "Full name" %}</th>
                    <th class="h-9 align-top pt-2 px-4">{% translate "Created at" %}</th>
                    <th class="h-9 align-top pt-2 px-4"> </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-300">
                {% for user in users %}
                <tr class="text-center bg-gray-50 even:bg-white align-top h-20" >
                    <td class="py-2">{{ user.id }}</td>
                    <td class="py-2">{{ user.username }}</td>
                    <td class="py-2">{{ user.first_name }} {{ user.last_name }}</td>
                    <td class="py-2">{{ user.created_at }}</td>
                    <td class="py-2"><a class="text-blue-600 hover:opacity-70 transition-colors" href="{% url 'update' user.id %}" role="button">{% translate "Change" %}</a><br><a class="text-blue-600 hover:opacity-70 transition-colors" href="{% url 'delete' user.id %}"  role="button">{% translate "Delete" %}</a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </main>
  {% endblock %}