{% extends "base.html" %}
{% load i18n %}
{% block content %}
<main class="mx-[11%] p-4 mt-6">
      <h1 class="text-2xl font-bold">{% translate "Users" %}</h1>
      <div class="pt-6 overflow-x-auto w-full">
        <table class="divide-y divide-gray-300 w-full whitespace-nowrap">
            <thead>
                <tr>
                    <th class="h-9 align-top pt-2 px-4">ID</th>
                    <th class="h-9 align-top pt-2 px-4">Username</th>
                    <th class="h-9 align-top pt-2 px-4">Full name</th>
                    <th class="h-9 align-top pt-2 px-4">Created at</th>
                    <th class="h-9 align-top pt-2 px-4"> </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-300">
                {% for user in users %}
                <tr class="text-center bg-gray-50 even:bg-white align-top h-20" >
                    <td class="py-2">{{ user.id }}</td>
                    <td class="py-2">{{ user.username }}</td>
                    <td class="py-2">{{ user.firstname }} {{ user.lastname }}</td>
                    <td class="py-2">{{ user.created_at }}</td>
                    <td class="py-2"><a class="text-blue-600 hover:opacity-70 transition-colors" href="{% url 'update' user.id %}">{% translate "Change" context "navbar label" %}</a><br><a class="text-blue-600 hover:opacity-70 transition-colors" href="{% url 'delete' user.id %}">{% translate "Delete" context "navbar label" %}</a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </main>
  {% endblock %}